{%  extends 'base.html' %}
{% load static %}
{% block base %}
        
        <!--================Welcome Area =================-->
        <section class="welcome_area p_120">
        	<div class="container">
        		<div class="row welcome_inner">
        			<div class="col-lg-6">
        				<div class="welcome_text">
        					<h4>About Myself</h4>
        					<p>I have a master's degree in software engineering. I am University lecturer. My favorite programming language is Python. I love working with graphic software such as Illustrator, Blender, Photoshop, and After Effects. I am just learning Django framework. I also do calligraphy and painting.</p>
        					<div class="row">
        						<div class="col-md-4">
        							<div class="wel_item">
        								<i class="lnr lnr-database"></i>
        								<h4>100+</h4>
        								<p>Illustration</p>
        							</div>
        						</div>
        						<div class="col-md-4">
        							<div class="wel_item">
        								<i class="lnr lnr-book"></i>
        								<h4>50+</h4>
        								<p>Total Projects</p>
        							</div>
        						</div>
        						<div class="col-md-4">
        							<div class="wel_item">
        								<i class="lnr lnr-users"></i>
        								<h4>7+ Years</h4>
        								<p>Teaching</p>
        							</div>
        						</div>
        					</div>
        				</div>
        			</div>
        			<div class="col-lg-6">
        				<div class="tools_expert">
        					<div class="skill_main">
								<div class="skill_item">
									<h4>Teaching <span class="counter">95</span>%</h4>
									<div class="progress_br">
										<div class="progress">
											<div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
									</div>
								</div>
								<div class="skill_item">
									<h4>English <span class="counter">70</span>%</h4>
									<div class="progress_br">
										<div class="progress">
											<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
									</div>
								</div>
								<div class="skill_item">
									<h4>Persian <span class="counter">100</span>%</h4>
									<div class="progress_br">
										<div class="progress">
											<div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
									</div>
								</div>
								<div class="skill_item">
									<h4>Kurdish <span class="counter">95</span>%</h4>
									<div class="progress_br">
										<div class="progress">
											<div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
									</div>
								</div>
								<div class="skill_item">
									<h4>Arabic <span class="counter">10</span>%</h4>
									<div class="progress_br">
										<div class="progress">
											<div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
									</div>
								</div>
							</div>
        				</div>
        			</div>
        		</div>
        	</div>
        </section>
        <!--================End Welcome Area =================-->
        
        <!--================My Tabs Area =================-->
        <section class="mytabs_area p_120">
        	<div class="container">
        		<div class="tabs_inner">
					<ul class="nav nav-tabs" id="myTab" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">My Experiences</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="about" aria-selected="false">My Education</a>
						</li>
					</ul>
					<div class="tab-content" id="myTabContent">
						<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
							<ul class="list">
								<li>
									<span></span>
									<div class="media">
										<div class="d-flex">
											<p>2024 January</p>
										</div>
										<div class="media-body">
											<h4>Django Website</h4>
											<p>Create First Django Website <br />As Project To Maktabkhoone</p>
										</div>
									</div>
								</li>
								<li>
									<span></span>
									<div class="media">
										<div class="d-flex">
											<p>2018 April</p>
										</div>
										<div class="media-body">
											<h4>python programming</h4>
											<p>started python programming <br /> Teaching Python</p>
										</div>
									</div>
								</li>
                                <li>
									<span></span>
									<div class="media">
										<div class="d-flex">
											<p>2017 January</p>
										</div>
										<div class="media-body">
											<h4>2D & 3D Design</h4>
											<p>2d Design with Illustrator <br />3D Design with Blender</p>
										</div>
									</div>
								</li>
								<li>
								<span></span>
									<div class="media">
										<div class="d-flex">
											<p>2016 September</p>
										</div>
										<div class="media-body">
											<h4>University Lecturer</h4>
											<p>Became University lecturer <br />in Baneh & Saqqez</p>
										</div>
									</div>
								</li>
							</ul>
						</div>
						<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
							<ul class="list">
                                <li>
									<span></span>
									<div class="media">
										<div class="d-flex">
											<p>2016 July</p>
										</div>
										<div class="media-body">
											<h4>Masters Degree</h4>
											<p>Finished Univbersity <br />Research sciences University</p>
										</div>
									</div>
								</li>
								<li>
									<span></span>
									<div class="media">
										<div class="d-flex">
											<p>2014 September</p>
										</div>
										<div class="media-body">
											<h4>University again</h4>
											<p>Masters Degree in Software Engineering <br />Research sciences University</p>
										</div>
									</div>
								</li>
								<li>
									<span></span>
									<div class="media">
										<div class="d-flex">
											<p>2014 January</p>
										</div>
										<div class="media-body">
											<h4>Bachelor's degree</h4>
											<p>Finished University <br />Bachelor's degree in Software Engineering</p>
										</div>
									</div>
								</li>
								<li>
								<span></span>
									<div class="media">
										<div class="d-flex">
											<p>2009 September</p>
										</div>
										<div class="media-body">
											<h4>University</h4>
											<p>Starting to PNU university <br />Software Engineering</p>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
        		</div>
        	</div>
        </section>
        <!--================End My Tabs Area =================-->
        

        <!--================Home Gallery Area =================-->
        <section class="home_gallery_area p_120">
        	<div class="container">
        		<div class="main_title">
        			<h2>My Designs</h2>
        			<p>You can see my 2D and 3D designs.</p>
        		</div>
        	</div>
        	<div class="container">
        		<div class="gallery_f_inner row imageGallery1">
        			<div class="col-lg-4 col-md-4 col-sm-6 brand manipul design print">
        				<div class="h_gallery_item">
        					<div class="g_img_item">
        						<img class="img-fluid" src="{% static 'img/gallery/1.jpg' %}" alt="">
        						<a class="light" href="{% static 'img/gallery/1.jpg' %}"><img src="{% static 'img/gallery/icon.png' %}" alt=""></a>
        					</div>
        					<div class="g_item_text">
        						<h4>3D Home Design</h4>
        						<p>Designed with Blender</p>
        					</div>
        				</div>
        			</div>
        			<div class="col-lg-4 col-md-4 col-sm-6 brand manipul creative">
        				<div class="h_gallery_item">
        					<div class="g_img_item">
        						<img class="img-fluid" src="{% static 'img/gallery/2.jpg' %}" alt="">
        						<a class="light" href="{% static 'img/gallery/2.jpg' %}"><img src="{% static 'img/gallery/icon.png' %}" alt=""></a>
        					</div>
        					<div class="g_item_text">
        						<h4>3D Emojy Design</h4>
        						<p>Designed with Blender</p>
        					</div>
        				</div>
        			</div>
        			<div class="col-lg-4 col-md-4 col-sm-6 manipul creative design print">
        				<div class="h_gallery_item">
        					<div class="g_img_item">
        						<img class="img-fluid" src="{% static 'img/gallery/3.jpg' %}" alt="">
        						<a class="light" href="{% static 'img/gallery/3.jpg' %}"><img src="{% static 'img/gallery/icon.png' %}" alt=""></a>
        					</div>
        					<div class="g_item_text">
        						<h4>3D Room Design</h4>
        						<p>Designed with Blender</p>
        					</div>
        				</div>
        			</div>
        			<div class="col-lg-4 col-md-4 col-sm-6 brand creative print">
        				<div class="h_gallery_item">
        					<div class="g_img_item">
        						<img class="img-fluid" src="{% static 'img/gallery/4.jpg' %}" alt="">
        						<a class="light" href="{% static 'img/gallery/4.jpg' %}"><img src="{% static 'img/gallery/icon.png' %}" alt=""></a>
        					</div>
        					<div class="g_item_text">
        						<h4>2D Character Design</h4>
        						<p>Designed with Illustrator</p>
        					</div>
        				</div>
        			</div>
        			<div class="col-lg-4 col-md-4 col-sm-6 brand manipul design">
        				<div class="h_gallery_item">
        					<div class="g_img_item">
        						<img class="img-fluid" src="{% static 'img/gallery/5.jpg' %}" alt="">
        						<a class="light" href="{% static 'img/gallery/5.jpg' %}"><img src="{% static 'img/gallery/icon.png' %}" alt=""></a>
        					</div>
        					<div class="g_item_text">
        						<h4>2D Theme Design</h4>
        						<p>Designed with Illustrator</p>
        					</div>
        				</div>
        			</div>
        			<div class="col-lg-4 col-md-4 col-sm-6 brand creative">
        				<div class="h_gallery_item">
        					<div class="g_img_item">
        						<img class="img-fluid" src="{% static 'img/gallery/6.jpg' %}" alt="">
        						<a class="light" href="{% static 'img/gallery/6.jpg' %}"><img src="{% static 'img/gallery/icon.png' %}" alt=""></a>
        					</div>
        					<div class="g_item_text">
        						<h4>2D Character Design</h4>
        						<p>Designed with Illustrator</p>
        					</div>
        				</div>
        			</div>
        		</div>

        	</div>
        </section>
        <!--================End Home Gallery Area =================-->
        
        <!--================In the near future Area =================-->
        <section class="testimonials_area p_120">
        	<div class="container">
        		<div class="main_title">
        			<h2>In the near future</h2>
        			<p>I am currently taking a series of specialized courses. My plans for the future are as follows.</p>
        		</div>
        		<div class="testi_inner">
					<div class="testi_slider owl-carousel">
						<div class="item">
							<div class="testi_item">
								<p>I plan to create a website that will extract information about all currencies from all the sites related to the introduction of digital currencies. According to the fundamental and technical information, introduce digital currencies with high potential for investment.</p>
								<h4>Finding digital currencies</h4>

							</div>
						</div>
						<div class="item">
							<div class="testi_item">
								<p>By taking various Python courses, I plan to become a professional Python programmer. For this reason, I have attended advanced Python courses and practice 8 hours a day.</p>
								<h4>Become a Senior Python Developer</h4>

							</div>
						</div>
						<div class="item">
							<div class="testi_item">
								<p>AOne of my favorite dead topics is machine learning. Machine learning is a subset of artificial intelligence. I am trying to become a machine learning programmer.</p>
								<h4>Machin Learning</h4>

							</div>
						</div>
					</div>
        		</div>
        	</div>
        </section>
        <!--================End In the near future Area =================-->
        
{% endblock %}